%table
  %thead
    %tr
      %th Name
      %th Description
      %th Value
      %th Ingredients
  %tbody
    - @effects.each do |e|
      %tr
        %td= link_to e.name, e
        %td= e.description
        %td= e.value
        %td
          %ul
            - e.ingredients.each do |i|
              %li= link_to i.name, i
