%footer
  %p
    = "Copyright #{copyright_years} brymck"
    %br
    Homepage:
    = link_to "brymck.herokuapp.com", "http://brymck.herokuapp.com", { target: "_blank" }
    %br
    Source:
    = link_to "github.com/brymck/sinderion", "https://github.com/brymck/sinderion", { target: "_blank" }
